html, body {
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    font-family: monospace;
    font-size: 12pt;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

#dropmark {
    font-size: 16pt;
    border: 4px dashed gray;
    padding: 2em 3em;

    background: #f5f5f5;

    cursor: pointer;
}

#label {
    margin: 2em 0;
}

#cuelist-outer {
    visibility: hidden;
    flex-grow: 1;
}

#cuelist-outer div {
    font-weight: bold;
    text-align: center;
}

#cuelist li {
    margin: .5em;
}

#export-button {
    font-size: 16pt;
    border: 4px solid gray;

    padding: 1.5em 3em;

    font-family: monospace;
}

#export-button .subtitle {
    display: block;
    font-size: 12pt;
}
